<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Incident Reporting</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
     <link href="/css/blog-post.css" rel="stylesheet">
 
  </head>

  <header>
{{> home/home-nav}}

  </header>


  <body>


    

    <!-- Page Content -->
   
      

    
       {{#if errors}} 
       {{#each errors}}

      <div class="alert alert-danger">
        

        {{message}}

        </div>

       {{/each}}
       
       {{/if}}

       {{> home/form-msgs}}

       
       
       {{{body}}}

 

 

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

   {{> home/footer}}
  
</html>
