

<h1>Create Incident</h1>

<form action="/admin/posts/create" method="post" enctype="multipart/form-data">
    <div class="form-group">

        <label for = "title">Title</label>
        <input name="title" required type="text" class="form-control" id="title" placeholder="Enter title">

    </div>

    <div class="form-group">

        <label for = "file">Upload File</label>
        <input type='file'  name='file' class="form-control">
    </div>

     <div class="form-group">

        <label for = "category">Building</label>
        <select name="category" is="category" class="form-control">
            {{#each categories}}
            <option value="{{id}}">{{name}}</option> 
            
            {{/each}}
        </select>
    </div>
    

    <div class="form-group">

        <label for = "status">Status</label>
        <select name="status" is="status" class="form-control">
            <option value="open">Open</option> 
            <option value="onGoing">On Going</option> 
            <option value="closed">Closed</option> 
        </select>
    </div>

     <div class="form-group">

        <label for = "floor">Floor</label>
        <select name="floor" is="floor" class="form-control">
            <option value="F1">F1</option> 
            <option value="F2">F2</option> 
            <option value="F3">F3</option> 
            <option value="F4">F4</option> 
        </select>
    </div>

    <div class="form-group">
        <label for = "DirectCause">Direct Cause</label>
        <select name="DirectCause" is="DirectCause" class="form-control">
            <option value="Nature">Nature</option> 
            <option value="Struck">Struck</option> 
            <option value="Transportation">Transportation</option> 
             <option value="Caught">Caught</option> 
            <option value="Fall">Fall</option> 
            <option value="Illness">Illness</option> 
        </select>
    </div>

    <div class="form-group">

        <label for = "SubDirectCause">Sub Direct Cause</label>
        <select name="SubDirectCause" is="SubDirectCause" class="form-control">
            <option value="Struck / Hit By">Struck / Hit By</option> 
            <option value="Puch Through / Nip">Puch Through / Nip</option> 
            <option value="Land Accident">Land Accident</option> 
            <option value="Caught Between">Caught Between</option> 
            <option value="Fall from Height">Fall from Height</option> 
            <option value="Sudden Collapse">Sudden Collapse</option> 
        </select>
    </div>

    <div class="form-group">

        <label for = "IncidentRating">Incident Rating</label>
        <select name="IncidentRating" is="IncidentRating" class="form-control">
            <option value="R1">R1</option> 
            <option value="R2">R2</option> 
            <option value="R3">R3</option> 
            <option value="R4">R4</option> 
            <option value="R5">R5</option> 
        </select>
    </div>

    <div class="form-group">

        <label for = "IncidentType">Incident Type</label>
        <select name="IncidentType" is="IncidentType" class="form-control">
            <option value="Fire/Explosion">Fire/Explosion</option> 
            <option value="First Aid Cases">First Aid Cases</option> 
            <option value="Injury/Illness">Injury/Illness</option> 
            <option value="Security Breach">Security Breach</option> 
            <option value="Asset Damage or Loss">Asset Damage or Loss</option> 
        </select>
    </div>

    <div class="form-group">

        <label for = "AssignedTo">Assigned To</label>
        <input name="AssignedTo" required type="text" class="form-control" id="AssignedTo" placeholder="Enter name">

    </div>


    <div class="form-group">

        <label for = "body">Body</label>
        <textarea required name="body" cols="30" rows="10" class="form-control" id="body" placeholder="Enter Description"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">Create Post</button>

</form>