<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
      
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePost" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Incidents</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePost">
            <li>
              <a href="/admin/posts">All Incidents</a>
            </li>
            <li>
              <a href="/admin/posts/my-posts">My Incidents</a>
            </li>
            <li>
              <a href="/admin/posts/create">Create Incident</a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/admin/categories">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Buildings -Admin Use-</span>
          </a>
        </li>


      </ul>

      